@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}


<div class="page-top">
    <div class="page-top-body">
        <div class="col-sm-6 page-top-left">
            <span class="page-title">@T("Account.PasswordRecovery")</span>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="page-top-line">
        <div class="col-sm-2"></div>
        <div class="col-sm-10" style="padding:0; ">
            <hr style="border-color:#d2d2d2;margin:3px 0 0 0;">
            <hr style="border-color:#aa89bd;margin:3px 0 0 50px;">
            <hr style="border-color:#d2d2d2;margin:3px 0 0 100px;">
        </div>
    </div>
</div>

<div class="page password-recovery-page">    
    <div class="form-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Email, new { }, ":")
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="send-email" class="btn password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>
        }
    </div>
</div>
