@model ProductDetailsModel

@using Nop.Web.Framework.Themes
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Html.AppendScriptParts("~/Scripts/jQuery.resizeEnd.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

}
<!DOCTYPE html>
<html>
<head>
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    <script>
        var ifm = window.parent.document.getElementById('iframepage');
        ifm.height = 580;
        function changeFrameHeight() {
            var ifm = window.parent.document.getElementById('iframepage');
            if (ifm.height != document.body.scrollHeight) {
                ifm.height = document.body.scrollHeight;                
            }
        }

        $(function () {
            $(window).resizeEnd({
                delay: 100
            }, function () {
                changeFrameHeight();
            });

            changeFrameHeight();
        });
    </script>
</head>
<body style="background:none;">
    <div class="content">
        <div class="content-title">
            <div style="color:#84ccc9;font-size:22px;font-weight:bold;float:left;height:36px;">@Model.Name</div>
            <a style="color:darkblue;font-size:14px;float:right;text-decoration:none;padding:10px 5px 0 10px;" href="@Url.RouteUrl("GetFileDownload",new { downloadId = Model.DownloadId , isDownload=true})">[按此下載]</a>
        </div>
        <div class="content-body">
            @*description*@
            @if (!String.IsNullOrWhiteSpace(Model.FullDescription))
            {
                <div class="category-description">
                    @Html.Raw(Model.FullDescription)
                </div>
            }
        </div>
        <div>
            <object width="100%" height="800" data="@Url.RouteUrl("GetFileDownload",new { downloadId = Model.DownloadId})" type="application/pdf">
                <iframe width="100%" height="800" src="@Url.RouteUrl("GetFileDownload",new { downloadId = Model.DownloadId })" style="border: currentColor; border-image: none;"></iframe>
            </object>
        </div>
    </div>
</body>
</html>